/vendor/
/.env
/.env.*
!/.env.example
/.validation/
/.phpunit.cache/
/.phpunit.result.cache
*.sqlite
*.sqlite3
*.sqlite-wal
*.sqlite-shm
*.sqlite-journal
*.db
*.db-wal
*.db-shm
*.db-journal
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/app/private/*
!/storage/app/private/.gitignore
